#prueba-listo-section.sectionFull
	.prueba-listo-content
		h1 ¡Listo!
		p En breve nos pondremos en contacto contigo para agendar una cita en tu concesionaria más cercana.
		a(href="/") Agendar otra prueba de manejo.