@font-face {
  font-family: "Book";
  src: url("../assets/fonts/vwheadlineot-book-webfont.ttf"); }
@font-face {
  font-family: "Semibold";
  src: url("../assets/fonts/vwheadlineot-semibold-webfont.ttf"); }
@font-face {
  font-family: "Black";
  src: url("../assets/fonts/vwheadlineot-black-webfont.ttf"); }
#nav {
  width: 100%;
  height: 90px;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  background-color: #f8f8f8;
  z-index: 4; }
  #nav .vwLogo {
    width: 70px;
    height: 70px;
    position: relative;
    margin-left: 50px;
    float: left;
    background-image: url("../assets/images/volkswagen-logo.png"); }
    #nav .vwLogo p {
      text-align: center;
      font-size: 15px;
      font-family: "Black";
      position: relative;
      top: 73px; }
  #nav .textHead {
    float: left;
    font-family: "Black";
    font-size: 21px;
    color: black;
    margin-left: 40px; }
    #nav .textHead p {
      position: relative;
      top: 30px; }
  #nav .menu-btn {
    width: 37px;
    height: 31px;
    position: absolute;
    top: 50px;
    right: 50px; }

#holdsFooter {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: absolute;
  bottom: -150px;
  background-color: #cad3d4;
  z-index: 4; }
  #holdsFooter #footer {
    width: 100%;
    height: 50px;
    padding: 25px 0px;
    position: relative; }
    #holdsFooter #footer .holdIconSwipe {
      width: 52px;
      height: 15px;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 0; }
      #holdsFooter #footer .holdIconSwipe .iconfotterSwipe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 5px; }
      #holdsFooter #footer .holdIconSwipe .swipeUp {
        display: block; }
      #holdsFooter #footer .holdIconSwipe .swipeDown {
        display: none;
        top: 10px; }
    #holdsFooter #footer #shareIcon {
      width: 35px;
      height: 36px;
      position: relative;
      margin-left: 40px;
      float: left;
      top: 6px; }
    #holdsFooter #footer .btnConfigura {
      width: 190px;
      height: 25px;
      background-color: #393939;
      position: absolute;
      right: 40px;
      padding: 14px 25px; }
      #holdsFooter #footer .btnConfigura .iconCon {
        width: 25px;
        height: 25px;
        position: relative;
        float: left; }
      #holdsFooter #footer .btnConfigura .configura-txt {
        font-family: "Book";
        float: left;
        margin-left: 15px;
        font-size: 18px; }
        #holdsFooter #footer .btnConfigura .configura-txt p {
          color: #818182; }
  #holdsFooter #sociales {
    width: 100%;
    height: 120px;
    border-top: 1px solid #393939;
    position: relative;
    padding-top: 50px; }
    #holdsFooter #sociales .holdIcons {
      width: 420px;
      height: 40px;
      margin: 0 auto; }
    #holdsFooter #sociales .siguenos, #holdsFooter #sociales .holdSocial {
      float: left; }
      #holdsFooter #sociales .siguenos p, #holdsFooter #sociales .holdSocial p {
        position: relative;
        margin-top: 13px; }
    #holdsFooter #sociales .holdSocial {
      margin: 0 20px; }
    #holdsFooter #sociales .faceSos svg {
      position: relative;
      left: -6px; }
    #holdsFooter #sociales .holdLegales {
      width: 590px;
      height: 15px;
      position: relative;
      margin: 0 auto;
      font-size: 15px;
      top: 32px; }
      #holdsFooter #sociales .holdLegales p {
        display: inline;
        float: left;
        margin-right: 10px; }
      #holdsFooter #sociales .holdLegales .line {
        width: 1px;
        height: 100%;
        float: left;
        position: relative;
        background-color: black;
        margin-right: 10px; }

#prueba-listo-section, #prueba-manejo-section {
  font-family: "Book";
  background-color: #393939;
  display: none; }

#prueba-listo-section {
  display: none; }

.prueba-listo-content, .prueba-manejo-content {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px; }
  .prueba-listo-content h1, .prueba-manejo-content h1 {
    text-align: center; }
  .prueba-listo-content h1, .prueba-listo-content p, .prueba-listo-content a, .prueba-manejo-content h1, .prueba-manejo-content p, .prueba-manejo-content a {
    color: white; }
  .prueba-listo-content p, .prueba-manejo-content p {
    padding-top: 5px;
    font-size: 15px;
    width: 75%; }
  .prueba-listo-content a, .prueba-manejo-content a {
    display: inline-block;
    width: 100%;
    height: 27px;
    font-size: 22px;
    padding: 15px 0;
    background-color: #1576c6;
    border-radius: 2px; }

.prueba-manejo-content {
  height: 670px; }
  .prueba-manejo-content h1 {
    font-size: 27px;
    padding: 0 0 10px; }
  .prueba-manejo-content p {
    margin-bottom: 30px; }
  .prueba-manejo-content h3 {
    color: white;
    font-size: 18px;
    text-align: left;
    margin: 5px 0; }
  .prueba-manejo-content input {
    width: 95%;
    height: 50px;
    border-radius: 2px;
    margin-bottom: 20px; }
  .prueba-manejo-content input[placeholder] {
    font-size: 21px;
    font-family: "Book";
    padding-left: 5%; }
  .prueba-manejo-content .form-text-notes {
    font-size: 14px;
    color: #818182;
    width: 250px;
    margin-left: 0; }
  .prueba-manejo-content .campo-obligatorio {
    margin-bottom: 10px;
    width: 135px;
    float: right; }
  .prueba-manejo-content .phones-form .icons {
    width: 100%;
    height: 85px; }
    .prueba-manejo-content .phones-form .icons div {
      width: 33%;
      float: left;
      text-align: center; }
      .prueba-manejo-content .phones-form .icons div div {
        width: 100%;
        color: #818182; }
    .prueba-manejo-content .phones-form .icons svg path {
      fill: #818182; }
  .prueba-manejo-content .phones-form .clave-phone {
    float: left;
    width: 25%;
    margin: 0 10px 0 0; }
  .prueba-manejo-content .phones-form .number-phone {
    width: 59%; }

.prueba-listo-content {
  height: 376px; }
  .prueba-listo-content h1 {
    font-size: 92px;
    font-family: "Semibold"; }
  .prueba-listo-content p {
    margin-bottom: 45px; }

#menuList {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -2000px;
  z-index: 4; }
  #menuList .btn {
    width: 100%;
    height: 25%;
    position: relative;
    background-color: #1576c6;
    border-bottom: 1px solid #04366f; }
    #menuList .btn .iconCenter {
      width: 80%;
      height: 73px;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
      #menuList .btn .iconCenter svg {
        float: left; }
        #menuList .btn .iconCenter svg path, #menuList .btn .iconCenter svg polygon {
          fill: #0b4a88; }
      #menuList .btn .iconCenter .text {
        float: left;
        font-family: "Semibold";
        font-size: 25px;
        margin-left: 10%; }
        #menuList .btn .iconCenter .text p {
          color: #0b4a88;
          position: relative;
          top: 25px; }
    #menuList .btn:hover, #menuList .btn :active {
      background-color: #1ca4fc; }
      #menuList .btn:hover svg path, #menuList .btn:hover svg polygon, #menuList .btn :active svg path, #menuList .btn :active svg polygon {
        fill: white; }
      #menuList .btn:hover .text p, #menuList .btn :active .text p {
        color: white; }

#conoce-section {
  background-color: white;
  border-top: 1px solid #393939;
  display: none; }
  #conoce-section .colorName {
    width: 90%;
    height: 55px;
    margin: 0 auto;
    padding-top: 55px;
    position: relative;
    text-align: center; }
    #conoce-section .colorName .animateColorName {
      width: 100%;
      height: 35px;
      font-size: 35px;
      color: black;
      font-family: "Book"; }
  #conoce-section .selectorColor {
    width: 480px;
    height: 50px;
    position: relative;
    margin: 0 auto; }
    #conoce-section .selectorColor .colorInput {
      width: 50px;
      height: 50px;
      position: relative;
      float: left;
      margin-right: 10px;
      background-position: center top; }
      #conoce-section .selectorColor .colorInput#color-blanco {
        background-image: url("../assets/images/conoceGolf/bullets/color-blanco-puro.png"); }
      #conoce-section .selectorColor .colorInput#color-silver {
        background-image: url("../assets/images/conoceGolf/bullets/color-reflex-silver.png"); }
      #conoce-section .selectorColor .colorInput#color-rojo {
        background-image: url("../assets/images/conoceGolf/bullets/color-rojo-tornado.png"); }
      #conoce-section .selectorColor .colorInput#color-grey {
        background-image: url("../assets/images/conoceGolf/bullets/color-platinum-grey.png"); }
      #conoce-section .selectorColor .colorInput#color-carbon {
        background-image: url("../assets/images/conoceGolf/bullets/color-carbon-steel.png"); }
      #conoce-section .selectorColor .colorInput#color-black {
        background-image: url("../assets/images/conoceGolf/bullets/color-deep-black.png"); }
      #conoce-section .selectorColor .colorInput#color-blue {
        background-image: url("../assets/images/conoceGolf/bullets/color-night-blue.png"); }
      #conoce-section .selectorColor .colorInput#color-silverT {
        background-image: url("../assets/images/conoceGolf/bullets/color-tungsten-silver.png"); }
      #conoce-section .selectorColor .colorInput.activeColor {
        background-position: center bottom; }
  #conoce-section .carColored {
    width: 620px;
    height: 620px;
    position: absolute;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    #conoce-section .carColored .hold360, #conoce-section .carColored .img360, #conoce-section .carColored .img360 img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0; }
    #conoce-section .carColored .holdColorear {
      width: 620px;
      height: 620px;
      position: absolute;
      top: 0; }
      #conoce-section .carColored .holdColorear #mascaraColor {
        width: 463px;
        height: 190px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        top: 9px; }
        #conoce-section .carColored .holdColorear #mascaraColor .maskSvg {
          width: 100%;
          height: 100%;
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0; }
          #conoce-section .carColored .holdColorear #mascaraColor .maskSvg svg {
            width: 100%;
            height: 100%;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0; }
            #conoce-section .carColored .holdColorear #mascaraColor .maskSvg svg path {
              fill: #cf0003; }
        #conoce-section .carColored .holdColorear #mascaraColor #maskGti {
          left: -11px; }
      #conoce-section .carColored .holdColorear .brillosymas {
        width: 620px;
        height: 620px;
        position: absolute;
        top: 0; }
        #conoce-section .carColored .holdColorear .brillosymas .brilloImg {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          background-repeat: no-repeat;
          background-position: center; }
          #conoce-section .carColored .holdColorear .brillosymas .brilloImg.briGolf {
            background-image: url("../assets/images/conoceGolf/golf/luz-sombra-Golf.png"); }
          #conoce-section .carColored .holdColorear .brillosymas .brilloImg.briGti {
            background-image: url("../assets/images/conoceGolf/gti/luz-sombra-GTI.png"); }
  #conoce-section .botonesDown {
    width: 260px;
    height: 50px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 175px; }
    #conoce-section .botonesDown .golfView-btn, #conoce-section .botonesDown .gtiView-btn {
      width: auto;
      height: auto;
      position: relative; }
    #conoce-section .botonesDown .gtiView-btn {
      display: none; }
    #conoce-section .botonesDown .btn-conoce {
      height: 35px;
      padding-top: 15px;
      position: relative;
      float: left;
      margin-right: 20px;
      text-align: center; }
      #conoce-section .botonesDown .btn-conoce p {
        font-family: "Semibold";
        color: white;
        font-size: 16px;
        float: left;
        margin-right: 6px;
        text-align: center; }
      #conoce-section .botonesDown .btn-conoce.btn-car {
        width: 80px;
        padding-left: 40px;
        background-color: #393939; }
      #conoce-section .botonesDown .btn-conoce.btn-galeria {
        width: 90px;
        padding-left: 30px;
        background-color: #1576c6;
        margin-right: 0px; }
        #conoce-section .botonesDown .btn-conoce.btn-galeria svg {
          width: 10px;
          height: 20px; }
          #conoce-section .botonesDown .btn-conoce.btn-galeria svg polygon {
            fill: white; }

#equipamiento-section {
  background-color: #393939;
  display: none;
  overflow: hidden; }
  #equipamiento-section .holdImg, #equipamiento-section .holdImg2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -100%; }
    #equipamiento-section .holdImg#swipe-golf-1, #equipamiento-section .holdImg #swipe-gti-1, #equipamiento-section .holdImg2#swipe-golf-1, #equipamiento-section .holdImg2 #swipe-gti-1 {
      right: 0; }
    #equipamiento-section .holdImg#swipe-gti-1, #equipamiento-section .holdImg2#swipe-gti-1 {
      right: 0; }
    #equipamiento-section .holdImg img, #equipamiento-section .holdImg2 img {
      height: 100%; }
  #equipamiento-section .holdFlecha {
    width: 16px;
    height: 31px;
    position: absolute;
    top: 48%;
    right: 10px;
    z-index: 3; }
    #equipamiento-section .holdFlecha svg polygon {
      fill: white; }

#detalle-in {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -95%;
  z-index: 3; }
  #detalle-in .blueHold {
    width: 75%;
    height: 100%;
    background-color: #2d2d2d;
    position: relative;
    left: 25%; }
    #detalle-in .blueHold .highlightInfo, #detalle-in .blueHold .highlightInfo2 {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      display: none; }
      #detalle-in .blueHold .highlightInfo#hightlight-1-golf, #detalle-in .blueHold .highlightInfo2#hightlight-1-golf {
        display: block; }
      #detalle-in .blueHold .highlightInfo#hightlight-1-gti, #detalle-in .blueHold .highlightInfo2#hightlight-1-gti {
        display: block; }
      #detalle-in .blueHold .highlightInfo .holdInfoIn, #detalle-in .blueHold .highlightInfo2 .holdInfoIn {
        width: 360px;
        height: 645px;
        position: relative;
        margin-left: 54px;
        top: 40px; }
        #detalle-in .blueHold .highlightInfo .holdInfoIn .holdUpTitle, #detalle-in .blueHold .highlightInfo2 .holdInfoIn .holdUpTitle {
          width: 100%;
          height: auto;
          position: relative;
          padding-bottom: 30px; }
          #detalle-in .blueHold .highlightInfo .holdInfoIn .holdUpTitle .holdTitle, #detalle-in .blueHold .highlightInfo2 .holdInfoIn .holdUpTitle .holdTitle {
            width: 100%;
            height: 40px;
            position: relative;
            margin-bottom: 25px; }
            #detalle-in .blueHold .highlightInfo .holdInfoIn .holdUpTitle .holdTitle h1, #detalle-in .blueHold .highlightInfo2 .holdInfoIn .holdUpTitle .holdTitle h1 {
              float: left;
              margin-right: 20px; }
            #detalle-in .blueHold .highlightInfo .holdInfoIn .holdUpTitle .holdTitle .iconCircle, #detalle-in .blueHold .highlightInfo2 .holdInfoIn .holdUpTitle .holdTitle .iconCircle {
              width: 25px;
              height: 25px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              background-color: black;
              position: absolute;
              right: 0;
              top: 12px; }
              #detalle-in .blueHold .highlightInfo .holdInfoIn .holdUpTitle .holdTitle .iconCircle:after, #detalle-in .blueHold .highlightInfo2 .holdInfoIn .holdUpTitle .holdTitle .iconCircle:after {
                width: 11px;
                height: 3px;
                content: "";
                background: url("../assets/images/equipamiento/menos.svg");
                margin: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0; }
        #detalle-in .blueHold .highlightInfo .holdInfoIn .descriptionsHighlight, #detalle-in .blueHold .highlightInfo2 .holdInfoIn .descriptionsHighlight {
          position: relative; }
        #detalle-in .blueHold .highlightInfo .holdInfoIn .botonesDown, #detalle-in .blueHold .highlightInfo2 .holdInfoIn .botonesDown {
          width: 290px;
          height: 50px;
          position: relative;
          margin: 0 auto; }
          #detalle-in .blueHold .highlightInfo .holdInfoIn .botonesDown .btn-conoce, #detalle-in .blueHold .highlightInfo2 .holdInfoIn .botonesDown .btn-conoce {
            width: 130px;
            height: 30px;
            padding-top: 10px;
            position: relative;
            float: left;
            text-align: center;
            background-color: #0b4a88; }
            #detalle-in .blueHold .highlightInfo .holdInfoIn .botonesDown .btn-conoce p, #detalle-in .blueHold .highlightInfo2 .holdInfoIn .botonesDown .btn-conoce p {
              font-family: "Semibold";
              color: white;
              font-size: 16px;
              margin-right: 6px;
              text-align: center; }
            #detalle-in .blueHold .highlightInfo .holdInfoIn .botonesDown .btn-conoce.btn-gti, #detalle-in .blueHold .highlightInfo2 .holdInfoIn .botonesDown .btn-conoce.btn-gti {
              background-color: white;
              margin-right: 30px; }
              #detalle-in .blueHold .highlightInfo .holdInfoIn .botonesDown .btn-conoce.btn-gti p, #detalle-in .blueHold .highlightInfo2 .holdInfoIn .botonesDown .btn-conoce.btn-gti p {
                color: #0b4a88; }
        #detalle-in .blueHold .highlightInfo .holdInfoIn .legals, #detalle-in .blueHold .highlightInfo2 .holdInfoIn .legals {
          position: relative;
          margin-top: 15px; }
          #detalle-in .blueHold .highlightInfo .holdInfoIn .legals p, #detalle-in .blueHold .highlightInfo2 .holdInfoIn .legals p {
            font-family: "Book"; }
  #detalle-in .holdFlecha {
    width: 16px;
    height: 31px;
    position: absolute;
    top: 48%;
    right: 10px; }
    #detalle-in .holdFlecha svg polygon {
      fill: white; }
    #detalle-in .holdFlecha .leftArrow {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      display: none; }
    #detalle-in .holdFlecha .rightArrow {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      display: block; }

#galeria-section {
  position: relative;
  display: none;
  overflow: hidden;
  right: -100%; }
  #galeria-section .conteiner-hold {
    width: 1000%;
    height: 100%;
    position: absolute;
    top: 0; }
    #galeria-section .conteiner-hold .holdImg-gal {
      width: 10%;
      height: 100%;
      position: relative;
      top: 0;
      float: left; }
      #galeria-section .conteiner-hold .holdImg-gal img {
        height: 100%; }
  #galeria-section .conteiner-hold2 {
    width: 1200%;
    height: 100%;
    position: absolute;
    top: 0; }
    #galeria-section .conteiner-hold2 .holdImg-gal2 {
      width: 8.33%;
      height: 100%;
      position: relative;
      top: 0;
      float: left; }
      #galeria-section .conteiner-hold2 .holdImg-gal2 img {
        height: 100%; }
  #galeria-section .arrowH {
    width: 16px;
    height: 31px;
    position: absolute;
    top: 45%; }
    #galeria-section .arrowH svg polygon {
      fill: white; }
  #galeria-section .holdArroLeft-gal {
    left: 10px; }
  #galeria-section .holdArrowRight-gal {
    right: 10px; }
  #galeria-section .holdClose {
    width: 20px;
    height: 20px;
    position: fixed;
    top: 150px;
    right: 20px; }

#share-mw-in {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  overflow: hidden;
  z-index: 4; }
  #share-mw-in .holdCopyShare {
    width: 200px;
    height: 120px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    top: -20px; }
    #share-mw-in .holdCopyShare h1, #share-mw-in .holdCopyShare h3 {
      text-align: center !important; }
  #share-mw-in .holdShares {
    width: 100%;
    height: 160px;
    position: absolute;
    bottom: -90px;
    background-color: white; }
  #share-mw-in .inSocial {
    width: 420px;
    height: 80px;
    position: relative;
    margin: 0 auto;
    margin-top: 37px; }
    #share-mw-in .inSocial .socialHold {
      width: 80px;
      height: 80px;
      position: relative;
      float: left;
      margin-right: 30px;
      margin-left: 30px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #818182; }
      #share-mw-in .inSocial .socialHold svg {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; }
        #share-mw-in .inSocial .socialHold svg path, #share-mw-in .inSocial .socialHold svg polygon {
          fill: white; }
      #share-mw-in .inSocial .socialHold:active {
        background-color: #1576c6; }
  #share-mw-in .closeMe {
    width: 20px;
    height: 20px;
    position: fixed;
    top: 150px;
    right: 20px; }

#home .holdImg {
  height: 100%;
  height: 100%;
  position: absolute;
  top: 0; }
  #home .holdImg img {
    height: 100%; }
#home .iframe {
  width: 640px;
  height: 480px;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

html, body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #393939;
  font-family: "Book"; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  color: #1a1a1a;
  text-decoration: none; }

p {
  margin: 0 auto; }

sub {
  font-size: 10px;
  top: -8px;
  position: relative;
  color: white;
  left: -3px;
  font-family: "Book"; }

h2, h3 {
  font-family: "Book";
  color: white;
  font-size: 18px; }

h1, h4 {
  text-align: left;
  margin: 0;
  font-size: 40px;
  color: white;
  font-family: "Book"; }

h4 {
  border-top: 1px solid #04366f; }

ul {
  padding-left: 22px;
  list-style: none; }

ul li {
  font-family: "Book";
  font-size: 15px;
  color: white;
  text-indent: -5px; }
  ul li:before {
    content: "-";
    position: relative;
    left: -10px; }

input {
  outline: none;
  border: none; }

.autoalpha-0 {
  opacity: 0;
  visibility: hidden; }

.align-center {
  text-align: center; }

.center-all,
.center-horizontal,
.center-vertical {
  position: absolute;
  margin: auto; }

.center-all,
.center-horizontal {
  left: 0;
  right: 0; }

.center-all,
.center-vertical {
  top: 0;
  bottom: 0; }

.btn-borders {
  border-radius: 5px; }

#wrapper {
  min-width: 320px;
  min-height: 930px;
  height: 100%;
  position: relative;
  margin-top: 130px;
  overflow: hidden; }
  #wrapper .gtiView {
    width: 100%;
    height: 100%;
    position: relative;
    display: none; }
  #wrapper .golfView {
    width: 100%;
    height: 100%;
    position: relative;
    display: block; }
  #wrapper .sectionFull {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; }
