#home.sectionFull
	.holdImg
		img(src="assets/images/home/video.jpg", alt="")
	.iframe
		iframe(width='640', height='480', src='//www.youtube.com/embed/ZKAARb6SOwA', frameborder='0', allowfullscreen='allowfullscreen')