#menuList
	+list({esEl: "conoce", icono: "menu-conoce-golf", titulo: "Conoce Golf"})
	+list({esEl: "equipamiento", icono: "menu-equipamiento", titulo: "Equipamiento"})
	+list({esEl: "prueba", icono: "menu-prueba-manejo", titulo: "Prueba de manejo"})
	+list({esEl: "video", icono: "menu-video", titulo: "Conoce Golf"})