#conoce-section.sectionFull
	.colorName
		.animateColorName
			p Tornado red
	.selectorColor
		.colorInput#color-blanco(data-color="blanco")
		.colorInput#color-silverT(data-color="silverT")
		.colorInput.activeColor#color-rojo(data-color="rojo")
		.colorInput#color-grey(data-color="grey")
		.colorInput#color-carbon(data-color="carbon")
		.colorInput#color-black(data-color="black")
		.colorInput#color-blue(data-color="blue")
		.colorInput#color-silver(data-color="silver")

	.carColored

	.botonesDown
		.btn-borders.btn-conoce.btn-car
			p Golf
		.btn-borders.btn-conoce.btn-galeria
			p Galería
			+icon('flecha-der')