#galeria-section.sectionFull
	.golfView
		.conteiner-hold
			.holdImg-gal#swipe-golf-galeria-1
				img(src='assets/images/conoceGolf/galeria/golf/img-1.jpg')
			.holdImg-gal#swipe-golf-galeria-2
				img(src='assets/images/conoceGolf/galeria/golf/img-2.jpg')
			.holdImg-gal#swipe-golf-galeria-3
				img(src='assets/images/conoceGolf/galeria/golf/img-3.jpg')
			.holdImg-gal#swipe-golf-galeria-4
				img(src='assets/images/conoceGolf/galeria/golf/img-4.jpg')
			.holdImg-gal#swipe-golf-galeria-5
				img(src='assets/images/conoceGolf/galeria/golf/img-5.jpg')
			.holdImg-gal#swipe-golf-galeria-6
				img(src='assets/images/conoceGolf/galeria/golf/img-6.jpg')
			.holdImg-gal#swipe-golf-galeria-7
				img(src='assets/images/conoceGolf/galeria/golf/img-7.jpg')
			.holdImg-gal#swipe-golf-galeria-8
				img(src='assets/images/conoceGolf/galeria/golf/img-8.jpg')
			.holdImg-gal#swipe-golf-galeria-9
				img(src='assets/images/conoceGolf/galeria/golf/img-9.jpg')
			.holdImg-gal#swipe-golf-galeria-10
				img(src='assets/images/conoceGolf/galeria/golf/img-10.jpg')
	.gtiView
		.conteiner-hold2
			.holdImg-gal2#swipe-gti-galeria-1
				img(src='assets/images/conoceGolf/galeria/gti/img-1.jpg')
			.holdImg-gal2#swipe-gti-galeria-2
				img(src='assets/images/conoceGolf/galeria/gti/img-2.jpg')
			.holdImg-gal2#swipe-gti-galeria-3
				img(src='assets/images/conoceGolf/galeria/gti/img-3.jpg')
			.holdImg-gal2#swipe-gti-galeria-4
				img(src='assets/images/conoceGolf/galeria/gti/img-4.jpg')
			.holdImg-gal2#swipe-gti-galeria-5
				img(src='assets/images/conoceGolf/galeria/gti/img-5.jpg')
			.holdImg-gal2#swipe-gti-galeria-6
				img(src='assets/images/conoceGolf/galeria/gti/img-6.jpg')
			.holdImg-gal2#swipe-gti-galeria-7
				img(src='assets/images/conoceGolf/galeria/gti/img-7.jpg')
			.holdImg-gal2#swipe-gti-galeria-8
				img(src='assets/images/conoceGolf/galeria/gti/img-8.jpg')
			.holdImg-gal2#swipe-gti-galeria-9
				img(src='assets/images/conoceGolf/galeria/gti/img-9.jpg')
			.holdImg-gal2#swipe-gti-galeria-10
				img(src='assets/images/conoceGolf/galeria/gti/img-10.jpg')
			.holdImg-gal2#swipe-gti-galeria-11
				img(src='assets/images/conoceGolf/galeria/gti/img-11.jpg')
			.holdImg-gal2#swipe-gti-galeria-12
				img(src='assets/images/conoceGolf/galeria/gti/img-12.jpg')
	.holdArroLeft-gal.arrowH
		+icon('flecha-equipamiento')
	.holdArrowRight-gal.arrowH
		+icon('flecha-equipamiento2')
	.holdClose#close_galeria
		+icon('cerrar')
		