#footer
	.holdIconSwipe
		.iconfotterSwipe.swipeUp
			+icon('icon-footer')
		.iconfotterSwipe.swipeDown
			+icon('footer-toClose')
	#shareIcon
		+icon('footer-share')
	a(href="http://www.configuratuvw.mx/", target="_blank")
		.btn-borders.btnConfigura
			.iconCon
				+icon('configura')
			.configura-txt
				p Configura tu Golf