#share-mw-in.sectionFull
	.closeMe
		+icon('cerrar')
	.holdCopyShare
		h1 Comparte
		h3 esto en social media
	.holdShares
		.inSocial
			a(href="#", target="_blank")
				.socialHold
					+icon('footer-facebook')
			a(href="#", target="_blank")
				.socialHold
					+icon('footer-google')
			a(href="#", target="_blank")
				.socialHold
					+icon('footer-twitter')