#sociales
	.holdIcons
		.siguenos
			p Siguenos:
		a(href="", target="_blank")
			.holdSocial.faceSos
				+icon('footer-facebook')
		a(href="", target="_blank")
			.holdSocial
				+icon('footer-twitter')
		a(href="", target="_blank")
			.holdSocial
				+icon('footer-youtube')
		a(href="", target="_blank")
			.holdSocial
				+icon('footer-google')
	.holdLegales
		p ©Volkswagen México 2014
		a(href="http://www.vw.com.mx/es/tools/navigation/footer/aspectos_legalesyavisodeprivacidad.html", target="_blank")
			p Aspectos Legales y Aviso de Privacidad
		.line
		a(href="http://en.volkswagen.com/en.html", target="_blank")
			p Vw Internacional
