#equipamiento-section.sectionFull
	.golfView
		.holdImg#swipe-golf-1
			img(src='assets/images/equipamiento/golf/innovacion.jpg')
		.holdImg#swipe-golf-2
			img(src='assets/images/equipamiento/golf/seguridad.jpg')
		.holdImg#swipe-golf-3
			img(src='assets/images/equipamiento/golf/desempeno.jpg')
		.holdImg#swipe-golf-4
			img(src='assets/images/equipamiento/golf/disenoyconfot.jpg')
	.gtiView
		.holdImg2#swipe-gti-1
			img(src='assets/images/equipamiento/gti/innovacion.jpg')
		.holdImg2#swipe-gti-2
			img(src='assets/images/equipamiento/gti/seguridad.jpg')
		.holdImg2#swipe-gti-3
			img(src='assets/images/equipamiento/gti/desempeno.jpg')
		.holdImg2#swipe-gti-3
			img(src='assets/images/equipamiento/gti/disenoyconfot.jpg')
	.holdFlecha#arrowHis
		+icon('flecha-equipamiento2')

	include _highlight

