#equipamiento-section.sectionFull
	.holdImg#swipe-golf-0
		img(src='assets/images/equipamiento/golf/innovacion.jpg')
	.holdImg#swipe-golf-1
		img(src='assets/images/equipamiento/golf/seguridad.jpg')
	.holdImg#swipe-golf-2
		img(src='assets/images/equipamiento/golf/desempeno.jpg')
	.holdImg#swipe-golf-3
		img(src='assets/images/equipamiento/golf/disenoyconfot.jpg')
	.holdFlecha
		+icon('flecha-equipamiento2')
