#detalle-in
	.golfView
		.blueHold
			.highlightInfo#hightlight-1-golf
				.holdInfoIn
					.holdUpTitle
						.holdTitle
							h1 Innovación
							.iconCircle

						.holdSub
							h3 Esto es el poder de la innovación.<br> Nuevo Golf ofrece una amplia variedad de características y equipamiento que lo hacen único.
					.descriptionsHighlight
						.equipamientoHold
							p Equipamiento
							.iconCircle
						ul
							li Asistente de aparcamiento Volkswagen * Equipamiento opcional
							li Nueva generación de Sistema de navegación “Discover Media” * Equipamiento opcional
							li Techo corredizo panorámico con ajuste de altura
							li Nueva generación de Radio Touchscreen 5.8" AM/FM, lector de CD / MP3 / SD Card / iPod 
							li connect / Bluetooth / 8 bocinas
							li Radio con función de comandos por voz
							li Activación automática de faros con sistema “coming & leaving home”
							li Testigo de pérdida de presión en neumáticos
							li Rines de aluminio de 17”
							li Faros de niebla con luz estática de giro
					.botonesDown
						.btn-borders.btn-conoce.btn-gti(data-hide="golfView", data-show="gtiView")
							p Golf GTI
						.btn-borders.btn-conoce.btn-golf(data-hide="gtiView", data-show="golfView")
							p Golf
					.legals
						p ** Las imágenes mostradas son de carácter ilustrativo. Para mayor información sobre <br>equipamiento, colores y versiones acude a tu Concesionaria Volkswagen.
			.highlightInfo#hightlight-2-golf
				.holdInfoIn
					h1 Seguridad
					h3 Seguridad que te envuelve.<br> La construcción del Nuevo Golf te brinda una sensación sólida, mientras que las nuevas tecnologías en seguridad garantizan protección por todos lados.
					.descriptionsHighlight
						ul
							li Función de freno multicolisión
							li Bolsas de aire frontales para conductor y pasajero, laterales frontales, de rodilla para 
							li conductor y tipo cortina adelante y atrás.
							li Sujeción para asientos de niños en asientos traseros
							li Sistema de corte de alimentación de combustible en caso de impacto 
							li Sistema de asistencia para arranque en pendientes
							li Sistema de antibloqueo de frenos (ABS)
							li Control de inercia del motor (MSR)
							li Sistema de control electrónico de estabilidad (ESC)
							li Sistema de control de tracción (ASR)
							li Cinturones de seguridad delanteros y traseros de 3 puntos.
					.botonesDown
						.btn-borders.btn-conoce.btn-gti(data-hide="golfView", data-show="gtiView")
							p Golf GTI
						.btn-borders.btn-conoce.btn-golf(data-hide="gtiView", data-show="golfView")
							p Golf
					.legals
						p ** Las imágenes mostradas son de carácter ilustrativo. Para mayor información sobre <br>equipamiento, colores y versiones acude a tu Concesionaria Volkswagen.
			
			.highlightInfo#hightlight-3-golf
				.holdInfoIn
					h1 Desempeño
					h3 El desempeño del Nuevo Golf es mejor que nunca gracias a su motor turboalimentado. <br> Conduce uno y siente la diferencia de la ingeniería Volkswagen.
					.descriptionsHighlight
						ul
							li Start/Stop System
							li Motor 1.4L Turbo TSI
							li Transmisión DSG de 7 velocidades
							li Computadora de viaje
							li Dirección electromecánica sensible a la velocidad
							li Sistema de recuperación de energía de frenado (para carga de la batería).
					.botonesDown
						.btn-borders.btn-conoce.btn-gti(data-hide="golfView", data-show="gtiView")
							p Golf GTI
						.btn-borders.btn-conoce.btn-golf(data-hide="gtiView", data-show="golfView")
							p Golf
					.legals
						p ** Las imágenes mostradas son de carácter ilustrativo. Para mayor información sobre <br>equipamiento, colores y versiones acude a tu Concesionaria Volkswagen.
			
			.highlightInfo#hightlight-4-golf
				.holdInfoIn
					h1 Diseño y confort
					h3 Acabado y montaje de primera calidad, por dentro y por fuera.<br> Con diseño deportivo y poderoso, Nuevo Golf te atrapa con detalles de calidad y comodidad que no esperarías encontrar en un hatchback.
					.descriptionsHighlight
						ul
							li Rines de aluminio 17” deportivos
							li Cajuela 380 lts.
							li Asientos deportivos del conductor y pasajero tela Alcántara con ajuste de altura y ajuste 
							li lumbar 
							li Aire acondicionado automático doble zona Climatronic
							li Elevadores eléctricos de cristales con función de un solo toque (atrás/adelante) 
							li Espejos exteriores con luz direccional incluida, con ajuste eléctrico y desempañante 
							li Insertos decorativos en "Piano Black" 
							li Volante multifunciones forrado en piel
					.botonesDown
						.btn-borders.btn-conoce.btn-gti(data-hide="golfView", data-show="gtiView")
							p Golf GTI
						.btn-borders.btn-conoce.btn-golf(data-hide="gtiView", data-show="golfView")
							p Golf
					.legals
						p ** Las imágenes mostradas son de carácter ilustrativo. Para mayor información sobre <br>equipamiento, colores y versiones acude a tu Concesionaria Volkswagen.
			.holdFlecha
				.leftArrow
					+icon('flecha-equipamiento2')
				.rightArrow
					+icon('flecha-equipamiento')
	.gtiView
		.blueHold
			.highlightInfo2#hightlight-1-gti
				.holdInfoIn
					h1 Innovación
					h3 Esto es el poder de la innovación.<br> Nuevo Golf ofrece una amplia variedad de características y equipamiento que lo hacen único.
					.descriptionsHighlight
						ul
							li Asistente de aparcamiento Volkswagen*Equipamiento opcional
							li Nueva generación de Sistema de navegación “Discover Pro” (8" Touchscreen, DVD, Disco duro interno, USB (iPod Connect), Aux In y visualizador de fotos JPG) *Equipamiento opcional
							li Nueva generación de Radio Touchscreen 5.8" AM/FM, lector de CD / MP3 / SD Card / iPod 
							li connect / Bluetooth / 8 bocinas
							li Radio con función de comandos por voz
							li Activación automática de faros con sistema “coming & leaving home”
							li Testigo de pérdida de presión en neumáticos
							li Rines de aluminio de 17”
							li Detector de Fatiga
							li Keyless Access y encendido “push start”
							li Paletas de cambio al volante
							li Techo corredizo panorámico con ajuste de altura.
					.botonesDown
						.btn-borders.btn-conoce.btn-gti(data-hide="golfView", data-show="gtiView")
							p Golf GTI
						.btn-borders.btn-conoce.btn-golf(data-hide="gtiView", data-show="golfView")
							p Golf
					.legals
						p ** Las imágenes mostradas son de carácter ilustrativo. Para mayor información sobre <br>equipamiento, colores y versiones acude a tu Concesionaria Volkswagen.
			.highlightInfo2#hightlight-2-gti
				.holdInfoIn
					h1 Seguridad
					h3 Seguridad que te envuelve.<br> La construcción del Nuevo Golf te brinda una sensación sólida, mientras que las nuevas tecnologías en seguridad garantizan protección por todos lados.
					.descriptionsHighlight
						ul
							li Función de freno multicolisión
							li Bolsas de aire frontales para conductor y pasajero, laterales frontales, de rodilla para 
							li conductor y tipo cortina adelante y atrás.
							li Sujeción para asientos de niños en asientos traseros
							li Sistema de corte de alimentación de combustible en caso de impacto 
							li Sistema de asistencia para arranque en pendientes
							li Sistema de antibloqueo de frenos (ABS)
							li Control de inercia del motor (MSR)
							li Sistema de control electrónico de estabilidad (ESC)
							li Sistema de control de tracción (ASR)
							li Cinturones de seguridad delanteros y traseros de 3 puntos.
					.botonesDown
						.btn-borders.btn-conoce.btn-gti(data-hide="golfView", data-show="gtiView")
							p Golf GTI
						.btn-borders.btn-conoce.btn-golf(data-hide="gtiView", data-show="golfView")
							p Golf
					.legals
						p ** Las imágenes mostradas son de carácter ilustrativo. Para mayor información sobre <br>equipamiento, colores y versiones acude a tu Concesionaria Volkswagen.
			
			.highlightInfo2#hightlight-3-gti
				.holdInfoIn
					h1 Desempeño
					h3 El desempeño del Nuevo Golf es mejor que nunca gracias a su motor turboalimentado. <br> Conduce uno y siente la diferencia de la ingeniería Volkswagen.
					.descriptionsHighlight
						ul
							li Start/Stop System
							li Motor 2.0L Turbo TSI
							li Transmisión DSG de 6 velocidades
							li Computadora de viaje
							li Dirección electromecánica sensible a la velocidad
							li Sistema de recuperación de energía de frenado (para carga de la batería).
					.botonesDown
						.btn-borders.btn-conoce.btn-gti(data-hide="golfView", data-show="gtiView")
							p Golf GTI
						.btn-borders.btn-conoce.btn-golf(data-hide="gtiView", data-show="golfView")
							p Golf
					.legals
						p ** Las imágenes mostradas son de carácter ilustrativo. Para mayor información sobre <br>equipamiento, colores y versiones acude a tu Concesionaria Volkswagen.
			
			.highlightInfo2#hightlight-4-gti
				.holdInfoIn
					h1 Diseño y confort
					h3 Acabado y montaje de primera calidad, por dentro y por fuera.<br> Con diseño deportivo y poderoso, Nuevo Golf te atrapa con detalles de calidad y comodidad  que no esperarías encontrar en un hatchback.
					.descriptionsHighlight
						ul
							li Ruedas de aleación 18”
							li Cajuela 380 lts.
							li Asientos top sport en piel Viena con ajuste de altura y lumbar eléctrico para conductor. 
							li *Equipamiento opcional
							li Aire acondicionado automático doble zona Climatronic
							li Elevadores eléctricos de cristales con función de un solo toque (atrás/adelante) 
							li Calaveras con tecnología LED
							li Faros de niebla en LED 
							li Faros delanteros Bi-Xenón con luz de día LED DRL y AFS (Faros inteligentes Xenón)
					.botonesDown
						.btn-borders.btn-conoce.btn-gti(data-hide="golfView", data-show="gtiView")
							p Golf GTI
						.btn-borders.btn-conoce.btn-golf(data-hide="gtiView", data-show="golfView")
							p Golf
					.legals
						p ** Las imágenes mostradas son de carácter ilustrativo. Para mayor información sobre <br>equipamiento, colores y versiones acude a tu Concesionaria Volkswagen.
			.holdFlecha
				.leftArrow
					+icon('flecha-equipamiento2')
				.rightArrow
					+icon('flecha-equipamiento')

	
